/* text center */
#middleAgesList {text-align: center;}
#first-letter:first-Letter { font-size: 200%; font-weight: bold;font-family: 'Cinzel Decorative', cursive;}
body { font-family: Arial, Verdana, sans-serif;}
#subscribe { text-align: center;}
h1 ,h2 {text-align: center; color: darkblue; font-family: 'MedievalSharp', cursive;;}
ul {text-align: center;}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
#famous { background-color: #cccccc; color:# ffffff; text-shadow:2px 2px 7px #111111;}
.p lead: first-letter { font-Size: 200%;}
.table { cursor: pointer;}
blockquote { float: right; width: 275px: font-size:130%; font-style: italic; font-family: Georgia, Times; margin: 0px 0px 10px, 10px; padding: 10px; border-top: 1px solid black; border-bottom: 1px solid black;}
a.button { height: 36px; background-image: url("https://lh3.googleusercontent.com/NFSMMJBZYEZu0GX1X_MNw1SQz7oYTq8q0nIaQWmXvQv51tiheAT7OY3__w8cPoqv6-ErAMHbO_Duc7ssQYe_lf5FvDDfijkjpOXW2u1FNw0py4APVSO_GUrQlQc81H5T6Nh3oEKXpA=w2400");
text-indent: -9999px; display: inline-block;}

a#Poster-1 {width: 174px; background-position: 0px 0px;}
a#framing-options { width: 210px; background-position: -175px 0px;}
a#Poster-1:hover {background-position: 0px -40px;}
a#framing-options:hover {background-position: -175px -40px;}
a#Poster-1:active {background-position: 0px -80px;}
a#framing-options:active { background-position: -175px -80px;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

a:visited{color: lightblue;}
#Introduction {text-align: center;}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
$(document).ready (function(){
 // Reset Font Size

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
